@{
    Layout = null;
}

@model MvcApplication1.Models.RecentDataModel

<div class="posts-wrap color">
    <h3>Recent Comments</h3>
    <ul>
        @foreach (var item in Model.Items)
        {
            <li>
                <p class="date">@item.Date.ToString("D")<span>@item.Date.ToString("HH:mm")</span></p>
                <p class="post">
                <a href="@Url.RouteUrl("default", new { controller = "comment", action = "ById", id = item.ID})">@item.Text</p>
            </li>
        }
    </ul>
</div>