@{
    Layout = null;
}
@model MvcApplication1.Models.RecentDataModel
<div class="posts-wrap">
    <h3>Recent Posts</h3>
    <ul>
        @foreach (var item in Model.Items)
        {
            <li>
                <p class="date">@item.Date.ToString("D")</p>
                <p class="post">
                <a href="@Url.RouteUrl("default", new { controller = "article", action = "GetByUrl", seoUrl = string.Empty})">@item.Text</p>
            </li>
        }
    </ul>
</div>